*{
    margin:0;
    padding:0;
}
.background{
    background: rgba(77, 15, 15, 0.6) url("../img/e-min.jpg");
    background-size: cover;
    background-blend-mode: darken;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
}
.nav-list{

    width: 50%;
    display: flex;
    align-items: center;
  
}
.nav-list li{
    list-style: none;
    padding:20px 20px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
}

.nav-list li a:hover{
    text-decoration: none;
    color: grey;
}
.rightNav{
    padding: 0 20px;
    width:50%;
    text-align: right;
}
.rightNav a{
    text-decoration: none;
    color: white;
}
.rightNav :hover{
    text-decoration: none;
    color: grey;
}
.logo{
    max-width: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.logo img{
    width:14%;
    border: 3px solid white;
    border-radius: 100px;;
}
.firstSection{
    padding-top: 1%;
    height: 100vh;
}
.fhalf{
    padding-top: 1%;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    max-width:50%;
    height: 70%;
}
.text-big{
    font-size: 50px;
    display: flex;
    justify-content: center;
    
}
.text-small{
    margin-top: 3px;
    display: flex;
    justify-content: center;
    font-size: 19px;
}
form{
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn{
    margin-top: 4%;
    color: white;
    background: none;
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer
}
.btn:hover{
    color: grey;
}
.login-box{   
    border: 2px solid white;
 
    border-radius: 20px;
    max-width: 25%;
    margin: 10% auto;
    padding: 34px;

}
input{
    font-size: 15px;
    width: 90%;
    margin: 10px auto;
    padding: 9px;
    border: 2px solid black;
    border-radius: 7px;
    outline: none;
}
